<div class="login">
 <main class="background">
  <div class="content">
    <div class="container container-signin">
      <div class="row">
        <div class="col-12 col-md-7 col-xxl-4 offset-xxl-2 offset-md-3">
          <h2>Hello there,</h2>
          <h1>Welcome Back to Bislerium</h1>

          <!-- form starts for login  -->
          <form id="login" [formGroup]="loginForm" >
            <div class="d-flex flex-column mt-2 mb-4">
              <label for="email">EMAIL</label>

              <input type="text" class="signin" id="email" placeholder="Enter  your email address"
                formControlName="email" required [class.is-invalid]="
                  email?.invalid && (email?.touched || email?.dirty)
                " />

              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="invalid-feedback">
                <div *ngIf="email?.errors?.['required']">
                  This field is required
                </div>

                <div *ngIf="email?.errors?.['pattern']">
                  The email is not valid
                </div>
              </div>
            </div>
            <div class="d-flex flex-column">
              <label for="password">PASSWORD</label>
              <input class="signin" type="password" id="password" placeholder="Enter your password"
                formControlName="password" required
                [class.is-invalid]="password?.invalid && (password?.touched || password?.dirty)" />

              <div *ngIf="password?.invalid && (password?.touched || password?.dirty)" class="invalid-feedback">
                <div *ngIf="password?.errors?.['required']">
                  This field is required
                </div>
              </div>


            </div>

            <div class="col-3 mb-2">
              <button type="submit" id="signin" class="btn btn-dark" [disabled]="loginForm.invalid">
                Sign In
              </button>
            </div>
          </form>

          <!-- form ends -->
        </div>
      </div>
    </div>
  </div>
</main>
</div>