<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="home">Home</div>
      <hr>
      <div class="show">Show</div>
      <div class="browseBlogs">
        <button>Random</button>
        <button>Popular</button>
        <button>Recent</button>
      </div>

    </div>
    <div class="col-10">
      <h1>reading is more fun than can be said</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia recusandae quaerat veniam ipsa quam
        praesentium nostrum quibusdam incidunt ab provident, placeat doloremque fugit! Corrupti, beatae? Expedita ullam
        hic natus.</p>
      <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*YiZksL8bfzbVmq0DM3JHpw.png" alt=""
        style="width: 100%;">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rerum ipsam in, neque omnis exercitationem
        officia repudiandae, quaerat hic animi temporibus qui aspernatur modi! Dolorem ab esse maiores modi veritatis.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rerum ipsam in, neque omnis exercitationem
        officia repudiandae, quaerat hic animi temporibus qui aspernatur modi! Dolorem ab esse maiores modi veritatis.
      </p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rerum ipsam in, neque omnis exercitationem
        officia repudiandae, quaerat hic animi temporibus qui aspernatur modi! Dolorem ab esse maiores modi veritatis.
      </p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rerum ipsam in, neque omnis exercitationem
        officia repudiandae, quaerat hic animi temporibus qui aspernatur modi! Dolorem ab esse maiores modi veritatis.
      </p>

      <button>like</button>
      <button>dislike</button>
      <button>comment</button>
    </div>
  </div>
</div>